.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form{
    gap: 20px;

}
.add-image-upload img{
    width: 120px;

}
.add-product-name,.add-product-description{
    width: max(40%,280px);
}
.add-product-name input, .add-product-description textarea{
    padding: 10px;
}
.add-category-price{
    display: flex;
    gap: 30px;

}

.add-category-price select, .add-category-price input{
    max-width: 120px;
    padding: 10px;

}
.add-btn {
    max-width: 120px;
    border: 2px solid tomato;
    padding: 10px;
    background: transparent;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.add-btn:hover {
    background-color: tomato;
    color: white;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

